<!DOCTYPE html>
<html>
<head>
<% include layout/head %>
</head>
<body>
<!-- 天气查询 -->
	<script type="text/javascript">
		(function(){
			var root = this;
			// getLocation();
			function getLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
				}else{
					errorCallback();
				}
			};
			var position = {
				"coords":{
					"latitude":22.1975410000,
					"longitude":113.5589330000
				},
				"name":"澳门特别行政区澳门半岛白头马路2"
			};
			successCallback(position);
			function successCallback(position) {
				store().ajax({
					"url":"/",
					"style":"POST",
					"Boole":true,
					"data":{
						"latlng":position.coords.latitude + "," + position.coords.longitude
					},
					"success":function(msg){
						getWeatherMsg(msg)
					}
				});
			};
			function errorCallback(){
				var JSONP = document.createElement("script");
				JSONP.type = "text/javascript";
				JSONP.src = "http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js";  
				document.getElementsByTagName("head")[0].appendChild(JSONP); 
				JSONP.onload = function(){
					store().ajax({
						"url":'/',
						"style":"POST",
						"Boole":true,
						"data":{
							"province": remote_ip_info.province,
							"cityName": remote_ip_info.city,
							"district": remote_ip_info.district,
							"address": remote_ip_info.province+remote_ip_info.city+remote_ip_info.district
						},
						"success":function(msg){
							getWeatherMsg(msg)
						}
					});
				}
			}
			function getWeatherMsg(Ajax_msg){
				Ajax_msg = JSON.parse(Ajax_msg);
				store().setCookie("cityCode",Ajax_msg.cityCode);
				store().ajax({
					"url":"http://wthrcdn.etouch.cn/weather_mini?citykey=" + Ajax_msg.cityCode,
					"style":"GET",
					"Boole":true,
					"success": function(msg){
						console.log(JSON.parse(msg));
					}
				});
			}
			// weather
			// showWeather()
			function showWeather(){
				var weatherMsg = JSON.parse(store().getCookie("weather"));
				console.log(weatherMsg);
				store().weather(weatherMsg.weather,weatherMsg);
			}
		}).call(this);
	</script>
</body>
</html>
